:root {
    --top-bar-text: rgb(255, 255, 255);
    --top-bar-bg: rgb(50, 50, 50);
    --top-bar-hover: rgb(70, 70, 70);

    --light-text: rgb(0, 0, 0);
    --light-bg: rgb(245, 245, 245);
    --light-bg-hover: rgb(234, 234, 234);
    --light-primary-action: rgb(165, 225, 226);
    --light-primary-action-hover: rgb(145, 200, 201);
    --light-accent-green: rgb(20, 150, 0);
    --light-accent-red: rgb(157, 0, 0);
    --light-accent-blue: rgb(0, 50, 200);

    --dark-text: rgb(255, 255, 255);
    --dark-bg: rgb(34, 34, 34);
    --dark-bg-hover: rgb(54, 54, 54);
    --dark-primary-action: rgb(7, 72, 75);
    --dark-primary-action-hover: rgb(8, 94, 99);
    --dark-accent-green: rgb(120, 255, 99);
    --dark-accent-red: rgb(255, 100, 100);
    --dark-accent-blue: rgb(130, 160, 255);

    --nordic-text: rgb(255, 255, 255);
    --nordic-bg: rgb(46, 52, 64);
    --nordic-bg-hover: rgb(59, 66, 82);
    --nordic-primary-action: rgb(67, 76, 94);
    --nordic-primary-action-hover: rgb(76, 86, 106);
    --nordic-accent-green: rgb(163, 190, 140);
    --nordic-accent-red: rgb(191, 97, 106);
    --nordic-accent-blue: rgb(94, 129, 172);

    --tokyo-night-text: rgb(169, 177, 214);
    --tokyo-night-bg: rgb(26, 27, 38);
    --tokyo-night-bg-hover: rgb(36, 40, 59);
    --tokyo-night-primary-action: rgb(65, 72, 104);
    --tokyo-night-primary-action-hover: rgb(86, 95, 137);
    --tokyo-night-accent-green: rgb(158, 206, 106);
    --tokyo-night-accent-red: rgb(247, 118, 142);
    --tokyo-night-accent-blue: rgb(42, 195, 222);

    --gruvbox-dark-text: rgb(235, 219, 178);
    --gruvbox-dark-bg: rgb(40, 40, 40);
    --gruvbox-dark-bg-hover: rgb(60, 56, 54);
    --gruvbox-dark-primary-action: rgb(80, 73, 69);
    --gruvbox-dark-primary-action-hover: rgb(102, 92, 84);
    --gruvbox-dark-accent-green: rgb(152, 151, 26);
    --gruvbox-dark-accent-red: rgb(204, 36, 29);
    --gruvbox-dark-accent-blue: rgb(69, 133, 136);

    --gruvbox-light-text: rgb(60, 56, 54);
    --gruvbox-light-bg: rgb(251, 241, 199);
    --gruvbox-light-bg-hover: rgb(235, 219, 178);
    --gruvbox-light-primary-action: rgb(213, 196, 161);
    --gruvbox-light-primary-action-hover: rgb(189, 174, 147);
    --gruvbox-light-accent-green: rgb(152, 151, 26);
    --gruvbox-light-accent-red: rgb(204, 36, 29);
    --gruvbox-light-accent-blue: rgb(69, 133, 136);
}

/* light-theme */

body.light-theme {
    color: var(--light-text);
    background-color: var(--light-bg);
}

body.light-theme a {
    color: var(--light-accent-blue);
}

body.light-theme dialog {
    color: var(--light-text);
    background-color: var(--light-bg);
}

body.light-theme button {
    color: var(--light-text);
    background-color: var(--light-primary-action);
}

body.light-theme button:hover {
    color: var(--light-text);
    background-color: var(--light-primary-action-hover);
}

body.light-theme input {
    color: var(--light-text);
    background-color: var(--light-bg);
}

body.light-theme input[type="submit"] {
    color: var(--light-text);
    background-color: var(--light-primary-action);
}

body.light-theme input[type="submit"]:hover {
    color: var(--light-text);
    background-color: var(--light-primary-action-hover);
}

body.light-theme textarea {
    color: var(--light-text);
    background-color: var(--light-bg);
}

body.light-theme select {
    color: var(--light-text);
    background-color: var(--light-bg);
}

body.light-theme tbody > tr:hover {
    background-color: var(--light-bg-hover);
}

body.light-theme .lobby-chat-message-green {
    color: var(--light-accent-green);
}

body.light-theme .lobby-chat-message-red {
    color: var(--light-accent-red);
}

body.light-theme .lobby-chat-message-blue {
    color: var(--light-accent-blue);
}

body.light-theme .htmx-result-good {
    color: var(--light-accent-green);
}

body.light-theme .htmx-result-bad {
    color: var(--light-accent-red);
}

body.light-theme #lobby-grid-container > div {
    background-color: var(--light-bg);
}

/* dark-theme */

body.dark-theme {
    color: var(--dark-text);
    background: var(--dark-bg);
}

body.dark-theme a {
    color: var(--dark-accent-blue);
}

body.dark-theme dialog {
    color: var(--dark-text);
    background: var(--dark-bg);
}

body.dark-theme button {
    color: var(--dark-text);
    background-color: var(--dark-primary-action);
}

body.dark-theme button:hover {
    color: var(--dark-text);
    background-color: var(--dark-primary-action-hover);
}

body.dark-theme input {
    color: var(--dark-text);
    background: var(--dark-bg);
}

body.dark-theme input[type="submit"] {
    color: var(--dark-text);
    background-color: var(--dark-primary-action);
}

body.dark-theme input[type="submit"]:hover {
    color: var(--dark-text);
    background-color: var(--dark-primary-action-hover);
}

body.dark-theme textarea {
    color: var(--dark-text);
    background: var(--dark-bg);
}

body.dark-theme select {
    color: var(--dark-text);
    background: var(--dark-bg);
}

body.dark-theme tbody > tr:hover {
    background-color: var(--dark-bg-hover);
}

body.dark-theme .lobby-chat-message-green {
    color: var(--dark-accent-green);
}

body.dark-theme .lobby-chat-message-red {
    color: var(--dark-accent-red);
}

body.dark-theme .lobby-chat-message-blue {
    color: var(--dark-accent-blue);
}

body.dark-theme .htmx-result-good {
    color: var(--dark-accent-green);
}

body.dark-theme .htmx-result-bad {
    color: var(--dark-accent-red);
}

body.dark-theme #lobby-grid-container > div {
    background-color: var(--dark-bg);
}

/* nordic-theme */

body.nordic-theme {
    color: var(--nordic-text);
    background: var(--nordic-bg);
}

body.nordic-theme a {
    color: var(--nordic-accent-blue);
}

body.nordic-theme dialog {
    color: var(--nordic-text);
    background: var(--nordic-bg);
}

body.nordic-theme button {
    color: var(--nordic-text);
    background-color: var(--nordic-primary-action);
}

body.nordic-theme button:hover {
    color: var(--nordic-text);
    background-color: var(--nordic-primary-action-hover);
}

body.nordic-theme input {
    color: var(--nordic-text);
    background: var(--nordic-bg);
}

body.nordic-theme input[type="submit"] {
    color: var(--nordic-text);
    background-color: var(--nordic-primary-action);
}

body.nordic-theme input[type="submit"]:hover {
    color: var(--nordic-text);
    background-color: var(--nordic-primary-action-hover);
}

body.nordic-theme textarea {
    color: var(--nordic-text);
    background: var(--nordic-bg);
}

body.nordic-theme select {
    color: var(--nordic-text);
    background: var(--nordic-bg);
}

body.nordic-theme tbody > tr:hover {
    background-color: var(--nordic-bg-hover);
}

body.nordic-theme .lobby-chat-message-green {
    color: var(--nordic-accent-green);
}

body.nordic-theme .lobby-chat-message-red {
    color: var(--nordic-accent-red);
}

body.nordic-theme .lobby-chat-message-blue {
    color: var(--nordic-accent-blue);
}

body.nordic-theme .htmx-result-good {
    color: var(--nordic-accent-green);
}

body.nordic-theme .htmx-result-bad {
    color: var(--nordic-accent-red);
}

body.nordic-theme #lobby-grid-container > div {
    background-color: var(--nordic-bg);
}

/* tokyo-night-theme */

body.tokyo-night-theme {
    color: var(--tokyo-night-text);
    background: var(--tokyo-night-bg);
}

body.tokyo-night-theme a {
    color: var(--tokyo-night-accent-blue);
}

body.tokyo-night-theme dialog {
    color: var(--tokyo-night-text);
    background: var(--tokyo-night-bg);
}

body.tokyo-night-theme button {
    color: var(--tokyo-night-text);
    background-color: var(--tokyo-night-primary-action);
}

body.tokyo-night-theme button:hover {
    color: var(--tokyo-night-text);
    background-color: var(--tokyo-night-primary-action-hover);
}

body.tokyo-night-theme input {
    color: var(--tokyo-night-text);
    background: var(--tokyo-night-bg);
}

body.tokyo-night-theme input[type="submit"] {
    color: var(--tokyo-night-text);
    background-color: var(--tokyo-night-primary-action);
}

body.tokyo-night-theme input[type="submit"]:hover {
    color: var(--tokyo-night-text);
    background-color: var(--tokyo-night-primary-action-hover);
}

body.tokyo-night-theme textarea {
    color: var(--tokyo-night-text);
    background: var(--tokyo-night-bg);
}

body.tokyo-night-theme select {
    color: var(--tokyo-night-text);
    background: var(--tokyo-night-bg);
}

body.tokyo-night-theme tbody > tr:hover {
    background-color: var(--tokyo-night-bg-hover);
}

body.tokyo-night-theme .lobby-chat-message-green {
    color: var(--tokyo-night-accent-green);
}

body.tokyo-night-theme .lobby-chat-message-red {
    color: var(--tokyo-night-accent-red);
}

body.tokyo-night-theme .lobby-chat-message-blue {
    color: var(--tokyo-night-accent-blue);
}

body.tokyo-night-theme .htmx-result-good {
    color: var(--tokyo-night-accent-green);
}

body.tokyo-night-theme .htmx-result-bad {
    color: var(--tokyo-night-accent-red);
}

body.tokyo-night-theme #lobby-grid-container > div {
    background-color: var(--tokyo-night-bg);
}

/* gruvbox-dark-theme */

body.gruvbox-dark-theme {
    color: var(--gruvbox-dark-text);
    background: var(--gruvbox-dark-bg);
}

body.gruvbox-dark-theme a {
    color: var(--gruvbox-dark-accent-blue);
}

body.gruvbox-dark-theme dialog {
    color: var(--gruvbox-dark-text);
    background: var(--gruvbox-dark-bg);
}

body.gruvbox-dark-theme button {
    color: var(--gruvbox-dark-text);
    background-color: var(--gruvbox-dark-primary-action);
}

body.gruvbox-dark-theme button:hover {
    color: var(--gruvbox-dark-text);
    background-color: var(--gruvbox-dark-primary-action-hover);
}

body.gruvbox-dark-theme input {
    color: var(--gruvbox-dark-text);
    background: var(--gruvbox-dark-bg);
}

body.gruvbox-dark-theme input[type="submit"] {
    color: var(--gruvbox-dark-text);
    background-color: var(--gruvbox-dark-primary-action);
}

body.gruvbox-dark-theme input[type="submit"]:hover {
    color: var(--gruvbox-dark-text);
    background-color: var(--gruvbox-dark-primary-action-hover);
}

body.gruvbox-dark-theme textarea {
    color: var(--gruvbox-dark-text);
    background: var(--gruvbox-dark-bg);
}

body.gruvbox-dark-theme select {
    color: var(--gruvbox-dark-text);
    background: var(--gruvbox-dark-bg);
}

body.gruvbox-dark-theme tbody > tr:hover {
    background-color: var(--gruvbox-dark-bg-hover);
}

body.gruvbox-dark-theme .lobby-chat-message-green {
    color: var(--gruvbox-dark-accent-green);
}

body.gruvbox-dark-theme .lobby-chat-message-red {
    color: var(--gruvbox-dark-accent-red);
}

body.gruvbox-dark-theme .lobby-chat-message-blue {
    color: var(--gruvbox-dark-accent-blue);
}

body.gruvbox-dark-theme .htmx-result-good {
    color: var(--gruvbox-dark-accent-green);
}

body.gruvbox-dark-theme .htmx-result-bad {
    color: var(--gruvbox-dark-accent-red);
}

body.gruvbox-dark-theme #lobby-grid-container > div {
    background-color: var(--gruvbox-dark-bg);
}

/* gruvbox-light-theme */

body.gruvbox-light-theme {
    color: var(--gruvbox-light-text);
    background: var(--gruvbox-light-bg);
}

body.gruvbox-light-theme a {
    color: var(--gruvbox-light-accent-blue);
}

body.gruvbox-light-theme dialog {
    color: var(--gruvbox-light-text);
    background: var(--gruvbox-light-bg);
}

body.gruvbox-light-theme button {
    color: var(--gruvbox-light-text);
    background-color: var(--gruvbox-light-primary-action);
}

body.gruvbox-light-theme button:hover {
    color: var(--gruvbox-light-text);
    background-color: var(--gruvbox-light-primary-action-hover);
}

body.gruvbox-light-theme input {
    color: var(--gruvbox-light-text);
    background: var(--gruvbox-light-bg);
}

body.gruvbox-light-theme input[type="submit"] {
    color: var(--gruvbox-light-text);
    background-color: var(--gruvbox-light-primary-action);
}

body.gruvbox-light-theme input[type="submit"]:hover {
    color: var(--gruvbox-light-text);
    background-color: var(--gruvbox-light-primary-action-hover);
}

body.gruvbox-light-theme textarea {
    color: var(--gruvbox-light-text);
    background: var(--gruvbox-light-bg);
}

body.gruvbox-light-theme select {
    color: var(--gruvbox-light-text);
    background: var(--gruvbox-light-bg);
}

body.gruvbox-light-theme tbody > tr:hover {
    background-color: var(--gruvbox-light-bg-hover);
}

body.gruvbox-light-theme .lobby-chat-message-green {
    color: var(--gruvbox-light-accent-green);
}

body.gruvbox-light-theme .lobby-chat-message-red {
    color: var(--gruvbox-light-accent-red);
}

body.gruvbox-light-theme .lobby-chat-message-blue {
    color: var(--gruvbox-light-accent-blue);
}

body.gruvbox-light-theme .htmx-result-good {
    color: var(--gruvbox-light-accent-green);
}

body.gruvbox-light-theme .htmx-result-bad {
    color: var(--gruvbox-light-accent-red);
}

body.gruvbox-light-theme #lobby-grid-container > div {
    background-color: var(--gruvbox-light-bg);
}
