#home {
    text-align: center;
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
}

#home-buttons {
    display: block;
}

button {
    width: 150px;
    padding: 20px;
    margin-top: 20px;
}