#login {
    text-align: center;
    width: 400px;
    position: absolute;
    left: calc(50% - 200px);
}


#login div.form-input label {
    width: 150px;
}

#login div.form-input input {
    width: 200px;
}
