{{define "body"}}
<form
    hx-post="/api/access/deck/{{.Deck.Id}}"
    hx-target="find .htmx-result"
>
    <h3>Deck: {{.Deck.Name}}</h3>
    <p>You must provide the password to see cards.</p>
    <input
        type="password"
        id="password"
        name="password"
        maxlength="255"
        placeholder="Enter Deck Password"
        required="required"
        autofocus="autofocus"
        autocomplete="off"
    />
    <br />
    <br />
    <div class="htmx-result"></div>
    <input
        type="submit"
        value="Submit"
    />
</form>
<div class="bottom-padding"></div>
{{end}}
