{{define "body"}}
<link
    rel="stylesheet"
    href="/gs/css/login.css"
/>
<div id="login">
    <h3>User Login</h3>
    <form
        hx-post="/api/user/login"
        hx-target="find .htmx-result"
    >
        <div class="form-input">
            <label for="userName">Name</label>
            <input
                type="text"
                id="userName"
                name="name"
                maxlength="255"
                placeholder="Enter User Name"
                required="required"
                autocomplete="username"
            />
            <label for="userPassword">Password</label>
            <input
                type="password"
                id="userPassword"
                name="password"
                maxlength="255"
                placeholder="Enter User Password"
                required="required"
                autocomplete="current-password"
            />
        </div>
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Login"
        />
    </form>
    <br />
    <details>
        <summary>Create a New User</summary>
        <br />
        <form
            hx-post="/api/user/create"
            hx-target="find .htmx-result"
        >
            <div class="form-input">
                <label for="createUserName">Name</label>
                <input
                    type="text"
                    id="createUserName"
                    name="name"
                    maxlength="255"
                    placeholder="Enter User Name"
                    required="required"
                    autocomplete="username"
                />
                <label for="createUserPassword">Password</label>
                <input
                    type="password"
                    id="createUserPassword"
                    name="password"
                    maxlength="255"
                    placeholder="Enter User Password"
                    required="required"
                    autocomplete="new-password"
                />
                <label for="createUserPasswordConfirm">Confirm Password</label>
                <input
                    type="password"
                    id="createUserPasswordConfirm"
                    name="passwordConfirm"
                    maxlength="255"
                    placeholder="Confirm User Password"
                    required="required"
                    autocomplete="new-password"
                />
            </div>
            <br />
            <div class="htmx-result"></div>
            <input
                type="submit"
                value="Create User"
            />
        </form>
    </details>
</div>
<div class="bottom-padding"></div>
{{end}}
